#game {
	width: 100%;
	height: 100%;
	display: none;
	background: black;
}
.row {
	height: 100%;
	float: left;
}
.o {
	background: rgba(0, 0, 0, 0.5);
	outline: 1px solid white;
	text-align: center;
	position: relative;
	/* background: rgba(255, 255, 255, 0.05); */
}
.o img {
	height: 100%;
}
.phases {
	position: absolute;
	top: 48%;
	left: 13.5%;
	width: 73%;
	height: 24px;
	margin-top: -12px;
	z-index: 1;
}
.phase {
	width: 14.666667%;
	margin-bottom: 6px;
	margin-right: 1%;
	margin-left: 1%;
	float: left;
	text-align: center;
	color: white;
	text-shadow: 0.05em 0.05em grey;
	font-weight: bold;
	opacity: 0.3;
}
.selectedPhase {
	color: white;
	text-shadow: 0.05em 0.05em grey;
	outline: 1px dashed rgb(0, 73, 69);
	box-shadow: 0em 0em 1em rgb(0, 73, 72);
	opacity: 1;
}
.selectablePhase {
	cursor: pointer;
	box-shadow: 0em 0em 1em grey;
	outline: 1px dashed grey;
}
.selectablePhase, .selectedPhase {
	background: rgb(123, 123, 123) !important;
}
.phase, .selectablePhase, .selectedPhase {
	background: rgba(123, 123, 123, 0.3);
	opacity: 1 !important;
}
/* defense cards on your side of the field */
.defense, .faceupdefense, .facedowndefense {
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* Internet Explorer */
	-moz-transform:rotate(-90deg); /* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari and Chrome */
	-o-transform:rotate(-90deg); /* Opera */
	/* left: 12px !important; */
}
/* defense cards on opponents side of the field */
.v.defense, .v.faceupdefense, .v.facedowndefense {
	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* Internet Explorer */
	-moz-transform:rotate(90deg); /* Firefox */
	-webkit-transform:rotate(90deg); /* Safari and Chrome */
	-o-transform:rotate(90deg); /* Opera */
	/* left: 12px !important; */
}
.h {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}
.v {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}
.vh {
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}
}
#game {
	width: 100%;
	height: 100%;
	cursor: default;
	display: none;
}
#youhand, #opphand {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 18%;
	text-align: center;
	overflow: hidden;
	z-index: 1;
}
#opphand {
	bottom: auto;
	top: -9%;
}
#youhand {
	bottom: 0%;
}
#youhand img, #opphand img {
	height: 100% !important;
	width: auto !important;
	margin-left: -3%;
}
#youhand img {
	margin-top: 3.5%;
}
#youhand img:hover {
	margin-bottom: 3.5%;
	margin-top: 0;
	-webkit-animation: cardrise 0.5s;
	animation: cardrise 0.5s;
}
@-webkit-keyframes cardrise {
	from {margin-bottom: 0%;}
	to {margin-top: -3.5%;}
}
@keyframes cardrise {
	from {margin-bottom: 0%;}
	to {margin-top: -3.5%;}
}
.selectedHandCard {
	margin-bottom: 3.5% !important;
	margin-top: 0 !important;
}
#youpoints, #opppoints {
	position: absolute;
	top: 4%;
	left: 0%;
	width: 100%;
	height: 57px;
	color: white;
	text-align: center;
	font-size: 25px;
	text-shadow: 0.05em 0.05em black;
	outline: none;
	font-weight: bold;
	background: rgb(6, 15, 49);
	border-radius: 20px;
}
#youpoints small, #opppoints small {
	font-size: 12px;
	display: block;
	margin-top: 5px;
	color: rgb(100, 100, 100);
}
#youpoints {
	left: auto !important;
	right: -2px !important;
}

/* game cells / zones separation and sizing */
#leftPanel {
	width: 30%;
}
.fieldZone {
	width: 20%;
}
.threeVerticalZones {
	height: 100%;
	width: 13.5%;
}
.singleVerticalZone {
	width: 100%;
	height: 33.3333333%;
}
.fieldHandSpacer, .fieldHandSpacer2 {
	height: 5%;
	width: 100%;
}
.fieldHandSpacer2 {
	height: 10%;
}
.fieldContainer {
	height: 42.5%;
	width: 100%;
}
.monsterSpellZones {
	height: 75%;
	width: 73%;
	margin-top: 5%;
}
.monsterSpellZonesDivison {
	width: 100%;
	height: 50%;
}
.oppBanishedZone, .youBanishedZone {
	height: 14.166666%;
	width: 100%;
	position: absolute;
	top: 33.5%;
	left: -3px;
}
.youBanishedZone {
	top: 47.5%;
	left: 3px;
}
.mainTable {
	width: 56%;
	position: relative;
}
.banishedColumn {
	width: 7%;
	position: relative;
}